__pycache__/
.pytest_cache/
.DS_Store
._.DS_Store

build/
dist/
alpha/
runs/
wandb/
.cache/
.eggs/
lightning_logs/
outputs/
graphgym/datasets/
graphgym/results/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
*.out
*.pt
*.onnx
examples/**/*.png
examples/**/*.pdf
benchmark/results/

!torch_geometric/data/
!test/data


data/*
!data/yeast-LCQ/
!data/yeast-LCQ-mRNA/
!data/yeast-ORBI/
!data/yeast-ORBI-mRNA/

graphgym/configs/*_grid_*
